---
layout: archive
title: "Exercises"
permalink: /exercises/
author_profile: true
collection: exercises
excerpt: 'In the title above you can find my collection of all materials related to exercises and worked examples.'
---

<p>This page contains a collection of all materials related to exercises and worked examples. There are also this page with my <a href="/formulary/">formulary</a>. You can see <a href="/why/">here</a> the disclaimer and the purpose of these notes, please read it. I put the disclaimer section also here.</p>

<h2>Disclaimer: how to use</h2>

<p>These summaries were written by a student for personal use; no professor has reviewed them, and the only proof of their validity is that my exams always went well (and whenever I didn't get exceptional grades, it was due to my own flawed studying). They may contain errors and are in no way a substitute for attending lectures, even though I have made every effort to ensure they are accurate, complete, precise, and easy to understand. For these reasons don't take them as gospel, but rather as a starting point to write your own notes. Furthermore, given the field of study, the information in these notes will inevitably become outdated over time.</p>

<p>My advice is to always use this material for comparison—whether you haven't been provided with resources, can't find any, or simply want a backup to make sure you've understood and written things down correctly.</p>


<h2>Exercises</h2>

{% for post in site.exercises reversed %}
  {% include archive-single.html %}
{% endfor %}