---
layout: archive
title: "Project"
permalink: /project/
author_profile: true
---

{% include base_path %}

Here there is my collection of template that I used for my Academic journey.
<a href="https://github.com/gCembalo/LaTeX_Template.git">LaTeX Template</a>
<a href="https://github.com/gCembalo/AcademicCV_Template.git">Academic CV Template</a>
<a href="https://github.com/gCembalo/LaTeX_Template.git">LaTeX notes Template</a>
<a href="https://github.com/gCembalo/Beamer_Template.git">Beamer Template</a>
<a href="https://github.com/gCembalo/ThesisCover_Template.git">Thesis cover Template</a>
<a href="https://github.com/gCembalo/AcademicTranscript_Template.git">Academic Transcript Template</a>
<a href="https://github.com/gCembalo/MotivationLetter_Template.git">Motivation Letter</a>

{% for post in site.project reversed %}
  {% include archive-single.html %}
{% endfor %}