---
layout: archive
title: "Project"
permalink: /project/
author_profile: true
---

{% include base_path %}

I collect in this Post all my personal project.

<h1>Template</h1>

<p>Here there is my collection of template that I used for my Academic journey.</p>

<ul>
  <li><a href="https://github.com/gCembalo/LaTeX_Template.git">LaTeX Template</a></li>
  <li><a href="https://github.com/gCembalo/AcademicCV_Template.git">Academic CV Template</a></li>
  <li><a href="https://github.com/gCembalo/Beamer_Template.git">Beamer Template</a></li>
  <li><a href="https://github.com/gCembalo/ThesisCover_Template.git">Thesis cover Template</a></li>
  <li><a href="https://github.com/gCembalo/AcademicTranscript_Template.git">Academic Transcript Template</a></li>
  <li><a href="https://github.com/gCembalo/MotivationLetter_Template.git">Motivation Letter</a></li>
</ul>

{% for post in site.project reversed %}
  {% include archive-single.html %}
{% endfor %}