main {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.wrapper {
  max-width: 100px; /* o anche 100%, se vuoi tutta la larghezza disponibile */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  color: green;
}
a:hover {
  color: darkgreen; /* colore link al passaggio del mouse, opzionale */
}
