main {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Opzionale: riduce anche il padding nel wrapper */
.wrapper {
  padding-top: 50rem;
  padding-bottom: 50rem;
}

a {
  color: green;
}
a:hover {
  color: darkgreen; /* colore link al passaggio del mouse, opzionale */
}
